.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.genius{
   display: grid;
   grid-template-areas: 'verde amarelo'
                        'vermelho azul';  
   gap: 10px;
   border: solid 1px #ffffff;
   background-color: #ffffee;
   border-radius: 100%;
   
   width: 700px;
   height: 700px;
}
.blue{
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
    cursor: pointer;
}
.yellow{
    grid-area: amarelo;
    background-color: yellow;
    border-top-right-radius: 100%;
    cursor: pointer;
}
.green{
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
    cursor: pointer;
}
.red{
    grid-area: vermelho;
    background-color: red;
    border-bottom-left-radius: 100%;
    cursor: pointer;
}
.selected{
    opacity: 0.3;
}